.App{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

button{
    font-family: 'Varela Round', sans-serif;
    width: 110px;
    height: 60px;
    font-size: larger;
	font-weight:bold;
    border: 2px solid black;
    border-radius: 8%;
    background-color: white;
}
button:hover{
    cursor:pointer;
    color: white;
    background-color: black;
}